*{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #eee;
}
.centerizeText{
    text-align: center;
    display: block;
}
.mainColor{
    color: cornflowerblue;
    font-weight: bold;
}
.danger{
    color: #CF000F;
    font-weight: bold;
}
.cont{
    line-height: 40px;
    height: 40px;
}
/* not supported */
#notSupported{
    display: none;
    position: fixed;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    margin: auto;
    font-size: 40px;
    width: 100%;
    height: 100px;
    line-height: 50px;
}
#notSupported{
    display: block;
}
.impress-supported #notSupported{
    display: none!important;
}
.impress-supported #root{
    filter: blue(0px)!important;
}
#root{
    filter: blue(15px);
}
/* steps styles */

/* Hi step */
#Hi{
    width: 900px;
    height: 150px;
}
#Hi>div{
    font-size: 60px;
}
.socialMediaIconList{
    width:90px;
    height:100%;
    height:20px;
    padding: 0px;
    margin: 0px;
    margin: auto;
}
.socialMediaIconList>li{
    float:left;
    list-style-type: none;
    width:20px;
    height:20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.socialMediaIconList>li>a{
    display: block;
    width:100%;
    height:100%;
    text-decoration: none;
}
.socialMediaIconList>li:first-child{
    margin-right: 5px;
    background-image: url('../../images/linkedin.png');
}
.socialMediaIconList>li:nth-child(2){
    margin-right: 5px;
    background-image: url('../../images/GitHub-Mark.png');
}
.socialMediaIconList>li:last-child{
    background-image: url('../../images/gmail.png');
}
#Hi>i{
    font-size: 16px;
    height:30px;
    line-height: 30px;
}
/* bornAndEducation */
#bornAndEducation{
    width: 900px;
    height: 150px;
}
#bornAndEducation *{
    font-size: 20px!important;
}
/* carear */
#career{
    width: 900px;
    min-height: 400px;
    display: table;
}
#career>ul>li>ul>li{
    line-height: 40px;
    height: 40px;
    list-style-type: none;
}
#career>ul>li>ul{
    padding-top: 5px;
    padding-bottom: 5px;
}
#career>ul>li>ul>li>i{
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 5px;
}
#career>ul>li>ul>li>span{
    height: 40px;
    line-height: 40px;
    display: inline-block;
    float: left;
}
/* abilities */
#abilities{
    width: 350px;
    height: 150px;
    display: table;
}
#abilities ul li{
    height: 40px;
    line-height: 40px;
    list-style-type: upper-roman;
}
/* socialMedia */
#socialMedia{
    width: 400px;
    height: 150px;
}